
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
        <title>Manylinux inspector</title>
        <!-- DataTable Styles -->
        <link rel="stylesheet" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css">
    </head>
    <body>
        <h1>Fetch API</h1>
        <table class="table"></table>
        <!-- CDN -->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
        <!-- Custom Code -->
        <script>
            const images = {{ data | tojson }}

            function get(object, keyPath) {
                return keyPath.split('.').reduce((previous, current) => previous && previous[current], object);
            }

            function listKeypaths(object) {
                const keypaths = [];
                for (const key in object) {
                    if (object.hasOwnProperty(key)) {
                        if (typeof object[key] === 'object') {
                            const subkeypaths = listKeypaths(object[key]);
                            for (const subkeypath of subkeypaths) {
                                keypaths.push(key + '.' + subkeypath);
                            }
                        } else {
                            keypaths.push(key);
                        }
                    }
                }
                return keypaths;
            }

            function extractFields() {
                const headers = new Set()
                for (const item of images) {
                    const keypaths = listKeypaths(item.data)
                    for (const keypath of keypaths) {
                        headers.add(keypath)
                    }
                }
                const result = Array.from(headers)
                result.sort()
                return result
            }

            const fields = [
                ...extractFields(),
            ]

            function transformData(data) {
                result = []
                for (const header of headers) {
                    if (header === '') {
                        result.push(data.metadata.image)
                    } else {
                        result.push(get(data.data, header))
                    }
                }
                return result
            }

            function getRow(field) {
                const result = [field]
                for (const image of images) {
                    result.push(get(image.data, field))
                }
                return result
            }

            new window.simpleDatatables.DataTable(".table", {
                data: {
                    headings: ['', ...images.map(item => item.metadata.image)],
                    data: fields.map(getRow),
                    perPage: 100
                }
            })
        </script>
    </body>
</html>
